.git
.env
.env.*
!.env.example
node_modules
vendor
storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
tests
.github
.vscode
.idea
*.md
!README.md
phpunit.xml
.phpunit.result.cache
playwright.config.js
e2e
test-results
playwright-report
.editorconfig
.gitattributes
.gitignore
docker-compose.yml
Dockerfile
