includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 2
    paths:
        - app
    ignoreErrors:
        - '#Access to an undefined property.*#'
        - '#Property .* is not writable\.#'
        - '#Relation .* is not found.*#'
        - '#Call to an undefined method.*#'
        - '#Array has .* duplicate keys.*#'
