includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 4
    paths:
        - app
    ignoreErrors:
        - '#Parameter \#1 \$view of function view expects view-string\|null, string given\.#'
